<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Success" type="LogosCorp\Net247\Block\Checkout\Success"/>
    <preference for="Magento\Checkout\Controller\Onepage\Success" type="LogosCorp\Net247\Controller\Onepage\Success" />
    
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="net247" xsi:type="const">LogosCorp\Net247\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="net247_config_provider" xsi:type="object">LogosCorp\Net247\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
