<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <logoscorp_custom_registration>
            <terms_settings>
                <terms_page></terms_page>
            </terms_settings>
        </logoscorp_custom_registration>
    </default>
</config>