<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\OfflinePayments\Model\InstructionsConfigProvider" type="LogosCorp\PaymentInstructions\Model\Rewrite\InstructionsConfigProvider" />
    <preference for="Magento\Payment\Block\Info\Instructions" type="LogosCorp\PaymentInstructions\Block\Info\Instructions" />
</config>
