<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <logoscorp_header>
                <header_group>
                    <enable_login_customer>1</enable_login_customer>
                </header_group>
            </logoscorp_header>

            <logoscorp_stock_configuration>
                <stock_configurations>
                    <stock_configuration>0</stock_configuration>
                </stock_configurations>
            </logoscorp_stock_configuration>
        </default>
    </config>